pipeline/API05 - PaymentHistoryExtractsBR.json
{
	"name": "API05 - PaymentHistoryExtractsBR",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_GetStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_GetEndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "SystemId",
								"value": "AM-BR01"
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$.NextRequest"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['erp']"
								},
								"sink": {
									"name": "ERP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['company_id']"
								},
								"sink": {
									"name": "Company_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['creation_date']"
								},
								"sink": {
									"name": "Creation Date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['document_date']"
								},
								"sink": {
									"name": "DOCUMENT_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customer_id']"
								},
								"sink": {
									"name": "Customer_No",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customer_name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['business_unit']"
								},
								"sink": {
									"name": "Business_Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['region']"
								},
								"sink": {
									"name": "Region",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['transaction_id']"
								},
								"sink": {
									"name": "Transaction_Date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['document_type']"
								},
								"sink": {
									"name": "Document_Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['transaction_currency']"
								},
								"sink": {
									"name": "Transaction_Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['tx_amount_applied']"
								},
								"sink": {
									"name": "TX_AMOUNT_APPLIED",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['invoice_number']"
								},
								"sink": {
									"name": "INVOICE_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['orig_tx_amount']"
								},
								"sink": {
									"name": "ORIG_TX_AMOUNT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['payment_method']"
								},
								"sink": {
									"name": "PAYMENT_METHOD",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "COUNTRY",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['RunId']"
								},
								"sink": {
									"name": "RunId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['SystemId']"
								},
								"sink": {
									"name": "SystemId",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['items']"
					}
				},
				"inputs": [
					{
						"referenceName": "TOTVS_PaymentHistory",
						"type": "DatasetReference",
						"parameters": {
							"startdate": {
								"value": "@activity('lkp_GetStartDate').output.value[0].StartDateTime",
								"type": "Expression"
							},
							"finishdate": {
								"value": "@activity('lkp_GetEndDate').output",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "raw_PaymentsHistoryExtracts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[load].[uspLogStart]",
					"storedProcedureParameters": {
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceName": {
							"value": {
								"value": "@pipeline().parameters.SourceName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceType": {
							"value": "RESTAPI",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DYWIDAG_DWH",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[load].[uspLogEnd]",
					"storedProcedureParameters": {
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceName": {
							"value": {
								"value": "@pipeline().parameters.SourceName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceType": {
							"value": "RESTAPI",
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DYWIDAG_DWH",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[load].[uspLogEnd]",
					"storedProcedureParameters": {
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceName": {
							"value": {
								"value": "@pipeline().parameters.SourceName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceType": {
							"value": "RESTAPI",
							"type": "String"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DYWIDAG_DWH",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkp_GetEndDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP (1) CONVERT(nvarchar(10), GETDATE(), 23) as EndDateTime ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DYWIDAG_DWH",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lkp_GetStartDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "WITH CTE AS (\nSELECT TOP (1) CONVERT(nvarchar(10), StartDateTime, 23) as StartDateTime \nFROM [load].[Run] r\nwhere SourceType = 'RESTAPI' and SourceName = 'AM-BR01-PaymentHistoryExtract' and Status = 'Success'\nand not exists (select 'x' from [log].[Log] l where Severity = 'ERROR' and l.RunId = r.RunId)\nand exists (select 'x' from [log].[Log] l where Severity = 'INFO' and ObjectName = 'framework.uspCopyData' and l.RunId = r.RunId)\norder by r.StartDateTime desc\n)\n\nSELECT COALESCE(StartDateTime,InitStartDate) StartDateTime FROM CTE \nright join (SELECT '2021-01-01' as InitStartDate) i on 1=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DYWIDAG_DWH",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "raw to stg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stg].[sp_rawToStg]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "PaymentHistoryExtracts",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DYWIDAG_DWH",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "uspCopyData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "raw to stg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[framework].[uspCopyData]",
					"storedProcedureParameters": {
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceTableName": {
							"value": "PaymentHistoryExtracts",
							"type": "String"
						},
						"SourceTableSchema": {
							"value": "stg",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DYWIDAG_DWH",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "AM-BR01-PaymentHistoryExtracts"
			}
		},
		"folder": {
			"name": "BR"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-17T19:01:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}