pipeline/INGEST_TEST.json
{
	"name": "INGEST_TEST",
	"properties": {
		"activities": [
			{
				"name": "CopyTable_with_timestamp",
				"description": "If there are no records already, then timestamp = -1. This will ingest ALL data from the source table, if there is any (we've already checked for row existence). timestamp = -2 if error occurred (e.g. the view does not exist?) - don't ingest.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "declare @cols varchar(max);\ndeclare @query varchar(max);\n\nSELECT  @cols = STUFF\n    (\n        ( \n            SELECT   case when system_type_id in (34,35,99) then '], ' + char(39)+ '???' + char(39) + ' as [' + name else '], [' + replace(name,'&','~') end \n\t\t\t           FROM sys.columns\n            where object_id = (\n                select top 1 object_id from sys.objects\n                where name = 'DSI GmbH Live$Item'\n            )\n  order by column_id\n           FOR XML PATH('')\n\t\t\t\n        ), 1, 2, ''\n    ) + ']';\n\n\nset @query = 'SELECT ' + @cols + ' FROM [dbo].[DSI GmbH Live$Item] where  \n    convert(BIGint,convert(varbinary,timestamp,1)) > @{activity('LookupTimestamp').output.firstRow.maxInt}\n  and @{activity('LookupTimestamp').output.firstRow.maxInt} >-2';\n\nset @query = replace(@query,'~','&');\n\nexec (@query);",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NavDE_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Destination_TableData_Incremental_DataLake_DS",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "RAW/NavDE/[dbo].[DSI GmbH Live$Item]/@{utcNow('yyyy')}/@{utcNow('MM')}/@{utcNow('dd')}",
								"type": "Expression"
							},
							"file": {
								"value": "[dbo].[DSI GmbH Live$Item]",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupTimestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_Select_Latest_Timestamp_For_Table]",
						"storedProcedureParameters": {
							"SourceName": {
								"type": "String",
								"value": {
									"value": "@{pipeline().parameters.SourceName}",
									"type": "Expression"
								}
							},
							"schema": {
								"type": "String",
								"value": {
									"value": "dbo",
									"type": "Expression"
								}
							},
							"tbl": {
								"type": "String",
								"value": {
									"value": "DSI GmbH Live$Item",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DYWIDAG_LDW_DS",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"pageNo": {
				"type": "int",
				"defaultValue": 1
			},
			"SourceName": {
				"type": "string",
				"defaultValue": "NavDE"
			},
			"PageSize": {
				"type": "int",
				"defaultValue": 5000
			}
		},
		"folder": {
			"name": "TAGZ/Incremental Ingestion/Ingest x 5000"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-24T10:49:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}