pipeline/Ingest_AS400_All_Data.json
{
	"name": "Ingest_AS400_All_Data",
	"properties": {
		"activities": [
			{
				"name": "GetTableNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_AS400FR_List_Source_Table]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DYWIDAG_LDW_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopTableNames",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableNames').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LookupTableFields",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "Db2Source",
									"query": {
										"value": "select \n@{replace(activity('LookupTableFields').output.firstRow.fieldList,'^',',')},\nRRN(T) as RelRowNum, \nCURRENT_TIMESTAMP as timestamp,\nHASH(@{replace(activity('LookupTableFields').output.firstRow.fieldList,'^','||')},3) as RowHash \nfrom @{item().Table_Schema}.@{item().Short_Table_Name} T\n\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AS400FR_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Destination_TableData_Overwrite_DataLake_DS",
									"type": "DatasetReference",
									"parameters": {
										"path": "RAW/@{item().SourceName}/@{item().File_Name}/1970/01/01",
										"file": "@{item().File_Name}"
									}
								}
							]
						},
						{
							"name": "LookupTableFields",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_AS400_Get_Table_Field_Info]",
									"storedProcedureParameters": {
										"schema": {
											"type": "String",
											"value": {
												"value": "@{item().Table_Schema}",
												"type": "Expression"
											}
										},
										"table": {
											"type": "String",
											"value": {
												"value": "@{item().Short_Table_Name}",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DYWIDAG_LDW_DS",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "AS400FR"
			}
		},
		"folder": {
			"name": "TAGZ/AS400_Ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-13T08:10:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}